.all{
    padding: 1%;
    border: black;
    border-radius: 2px;
    border-width: 5px;
    border-style: groove;
}

.part1{
    border: black;
    border-width: 2px;
    border-style: groove;
    padding: 2px;
}
.part2{
    border: black;
    border-width: 2px;
    border-style: groove;
    padding: 2px;
}
.part3{
    border: black;
    border-width: 2px;
    border-style: groove;
    padding: 2px;
}
.part4{
    border: black;
    border-width: 2px;
    border-style: groove;
    padding: 2px;
}
.part5{
    border: black;
    border-width: 2px;
    border-style: groove;
    padding: 2px;
}
.part6{
    border: black;
    border-width: 2px;
    border-style: groove;
    padding: 2px;
}
.part7{
    border: black;
    border-width: 2px;
    border-style: groove;
    padding: 2px;
}
.part8{
    border: black;
    border-width: 2px;
    border-style: groove;
    padding: 2px;
}

